@font-face {
    font-family: Wix Madefor;
    src: url('../fonts/WixMadeforText-Regular.ttf');
}

*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(30,20,80);
    background: radial-gradient(circle, rgba(30,20,80,1) 45%, rgba(0,0,0,1) 100%); 
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background:#2a1c6f;
    color: white;
    font-family: Wix Madefor, sans-serif;
    font-size: 16px;
    &:hover{
        cursor: pointer;
        background:#3e2b9f;
    }
}

input{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

.link{
    font-family: Wix Madefor, sans-serif;
    font-size: 18px;
    color: white;
}

.list{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.list:hover{
    color: rgb(206, 206, 206);
}

.text{
    font-family: Wix Madefor, sans-serif;
    font-size: 30px;
    color: white;
}
.title{
    font-size: 50px;
}

.logo{
    width:500px;
    height: 100px;
    @media (max-width:1110px) {
        width: 400px;
        height: 100px;
    }
}

.logo-box{
    padding: 0px 10px;
    &:hover{
        cursor: pointer;
    }
}
.burger{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    he: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.container{
    display: block;
   
    &__header{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1E1450;
        &-navigation{
            @media (max-width: 675px) {
                flex-direction:column;
                position: absolute;
                background: #1E1450;
                width: 100%;
                top: 75px;
                left: 0;
                transform: translateY(-100%);
                z-index: -1;
                transition: 0.6s;
                padding: 0;
            }
            display: flex;
            // background: transparent;
            gap: 40px;
            align-items: center;
            align-self: center;
            margin-right: 30px;
            padding: 10px;
        }
    }
    &__main{
        
        background-image: url('../components/images/panoram-port-photo-br.png');
        width: 100vw;
        height: 100vh;
        min-width: auto;
        overflow-y: hidden;
        // filter: brightness(0.4);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 150px 210px;
        @media (max-width:830px) {
            padding: 10px;
            // max-width: 300px;
            justify-content: center;
            align-items: center;
            height: auto;
            overflow-y: hidden;
        }
        // padding: 0px 910px 290px 0px;
        &-content-article{
            width: 600px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media (max-width:830px) {
                padding: 10px;
                max-width: 400px;
                min-width: 200px;
                height: auto;
                overflow-y: hidden;
            }
        }
    }
    &__section-content{
        padding: 100px;
        display: flex;
        justify-content: center;
        gap: 100px;
        flex-wrap: wrap;
        &-item{
            width: 600px;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        @media (max-width:500px) {
            padding: 10px;
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;  
        &-form{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &-data{
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 100px;
            align-items: center;
            gap: 150px;
        }
        &-data-left{
            display: flex;
        }
        &-data-center{
            display: flex;
        }
    }
}

.container__button-more{
    align-self: flex-start;
    padding: 20px 0px;
}

.info-pad{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-image{
    max-width: 600px;
    max-height: 400px;
}


.submit-form{
    align-self: center;
}