.container__content{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 10px ;
    overflow-y: hidden;
    &-article{
        display: flex;
        max-width: 600px;
        min-width: 200px;
        height: auto;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }
}

.modal-window{
    display: flex;
    justify-content: center;
}

.obtain{
    width: 100%;
    height: 200px;
    background: #150e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.titled{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 400px;
    @media (max-width: 675px) {
        padding: 10px;
    }
    background: url('../components/images/bg-news.jpg');
    background-size: cover;
}


